<div class="card">
  <div class="card-header">
    Ajouter un contact
  </div>
  <div class="card-block">
    <form>
      <div class="form-group row">
        <label for="input-prenom" class="col-xs-2 col-form-label">Prénom</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" id="input-prenom">
        </div>
      </div>
      <div class="form-group row">
        <label for="input-nom" class="col-xs-2 col-form-label">Nom</label>
        <div class="col-xs-10">
          <input class="form-control" type="search" id="input-nom">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
</div>

